:root{
    --background-color: #2a2a2e;
    --ruby-color: #6e2f2b;
    --main-color: #b8deb9;
    --foot-color: #424f42;
}

body{
    background-color: var(--background-color);
    font-family: Lato-Thin, serif;
}

.topDiv{
    color: var(--ruby-color);
}

.bodyDiv{
    color: var(--main-color);
}

.rubyText{
    margin-left: 1vw;
    font-size: 3vh;
    display: inline-block;
    margin-right: auto;
    margin-top: 0.5vh;
}

.icons {
    display: inline-block;
    margin-left: 75%;
    margin-right: 1vw;
    margin-top: 0.5vh;
}

.footDiv{
    color: var(--foot-color);
    font-family: Lato-Light, serif;
}

.description{
    margin-left: 5vw;
    padding-left: 1vw;
    font-size: 3vh;
    border-left-style: solid;
    border-color: var(--main-color);
    border-left-width: 0.01vw;
}

.hello{
    font-size: 10vh;
    margin-bottom: 0;
    font-weight: lighter;
}

@font-face {
    font-family: Lato-Thin;
    src: url("fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("fonts/Lato-Light.ttf");
}