body{
    background-color: #2a2a2e;
    font-family: Lato-Thin, serif;
}

.topDiv{
    color: #6e2f2b;

}

.bodyDiv{
    color: #b8deb9;
}

.footDiv{
    color: #424f42;
    font-family: Lato-Light, serif;
}

@font-face {
    font-family: Lato-Thin;
    src: url("fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("fonts/Lato-Light.ttf");
}