body{
    background-color: #2a2a2e;
    font-family: Lato-Thin, serif;
}

.topDiv{
    color: #6e2f2b;
}

.bodyDiv{
    color: #b8deb9;
}

.rubyText{
    margin-left: 1vw;
    font-size: 3vh;
    display: inline-block;
    margin-right: auto;
    margin-top: 0.5vh;
}

.icons {
    display: inline-block;
    margin-left: 75%;
    margin-right: 1vw;
    margin-top: 0.5vh;
}

.footDiv{
    color: #424f42;
    font-family: Lato-Light, serif;
}

@font-face {
    font-family: Lato-Thin;
    src: url("fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: Lato-Light;
    src: url("fonts/Lato-Light.ttf");
}